# Node.js
node_modules/

# Logs
logs/
*.log

# Dependency directories
pids/
logs/
results/
build/

# dotenv environment variables file
.env

# Visual Studio Code settings
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
