/* Main container style (non-responsive) */
.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  padding: 40px;
  margin-top: 60px;
}

/* Style for the main container with welcome text */
.home-container {
  text-align: center;
  margin-top: 40px;
}

.home-title {
  font-size: 2.5rem;
  color: #E34234;
}

.home-description {
  font-size: 1.5rem;
  color: #666;
  margin-top: 20px;
}

/* Style of the call-to-action section */
.call-to-action {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.register-button,
.menu-button {
  background-color: #E34234;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 10px;
}

.register-button:hover,
.menu-button:hover {
  background-color: #C3291D;
}
.register-button {
  margin-right: 550px;
  margin-top: 10px;
}

.image-order {
  text-align: right;
  margin-top: 40px;
}

.image {
  max-width: 50%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.delivery-imagine {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}

.delivery-image {
  max-width: 90%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 80px;
  margin-bottom: 80px;
}

/* Container style for the delivery text */
.delivery-container {
  text-align: right;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 80px;
}

.delivery-title {
  font-size: 2.5rem;
  color: #E34234;
  margin-bottom: 10px;
}

.delivery-description {
  font-size: 1.5rem;
  color: #666;
}

/* Media query for devices with narrower screens */
@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .image-order,
  .delivery-imagine {
    text-align: center;
  }

  .image,
  .delivery-image {
    max-width: 100%;
    margin: 20px 0;
  }

  .register-button {
    margin-right: 0;
  }

  .delivery-imagine {
    order: 1;
    margin-bottom: 80px;
  }

  .delivery-container {
    margin-bottom: 20px; 
  }
}

/* Media query for devices with a resolution of 820x1180 */
@media only screen and (max-width: 820px) and (max-height: 1180px) {
  .container {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .image-order,
  .delivery-imagine {
    text-align: center;
  }

  .image,
  .delivery-image {
    max-width: 100%;
    margin: 20px 0;
  }

  .register-button {
    margin-right: 0;
  }

  .delivery-imagine {
    order: 1;
  }

  .delivery-container {
    margin-bottom: 20px;
  }
}

/* Media query for devices with a resolution of 1024x1366 */
@media only screen and (max-width: 1024px) and (max-height: 1366px) {
  .container {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .image-order,
  .delivery-imagine {
    text-align: center;
  }

  .image,
  .delivery-image {
    max-width: 100%;
    margin: 20px 0;
  }

  .register-button {
    margin-right: 0;
  }

  .delivery-imagine {
    order: 1;
  }

  .delivery-container {
    margin-bottom: 20px;
  }
}

/* Media query for devices with a resolution of 912x1368 */
@media only screen and (max-width: 912px) and (max-height: 1368px) {
  .container {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .image-order,
  .delivery-imagine {
    text-align: center;
  }

  .image,
  .delivery-image {
    max-width: 100%;
    margin: 20px 0;
  }

  .register-button {
    margin-right: 0;
  }

  .delivery-imagine {
    order: 1;
  }

  .delivery-container {
    margin-bottom: 20px;
  }
}

/* Media query for devices with a resolution of 1280x800 */
@media only screen and (max-width: 1280px) and (max-height: 800px) {
  .container {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .image-order,
  .delivery-imagine {
    text-align: center;
  }

  .image,
  .delivery-image {
    max-width: 100%;
    margin: 20px 0;
  }

  .register-button {
    margin-right: 0;
  }

  .delivery-imagine {
    order: 1;
  }

  .delivery-container {
    margin-bottom: 20px;
  }
}
