/* Styles for the main footer container */
.footer {
  background-color: #E34234;
  color: white;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
}

/* Styles for the content within the footer */
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}

/* Styles for the copyright information */
.copyright {
  display: flex;
  align-items: center;
}

/* Styles for the copyright text */
.copyright p {
  margin: 8px 5px;
}

/* Styles for the brand information */
.brand {
  font-weight: bold;
}

/* Styles for the social icons section */
.social-icons {
  display: flex;
  align-items: center;
}

/* Styles for each social icon link */
.social-icons a {
  color: white;
  margin-left: 10px;
  font-size: 20px;
  text-decoration: none;
}

/* Hover styles for social icons */
.social-icons a:hover {
  color: black; 
}
