
/* Styles for the main cart container */
.cart-container {
  position: relative;
  background-color: white;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 20px auto; 
  max-width: 1500px; 
  overflow-y: auto;
  max-height: 600px; 
}

/* Styles for the header of the cart */
.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Styles for the title of the cart */
.cart-title {
  font-size: 2rem;
  font-weight: bold;
  color: #e34234; 
}

/* Styles for the list of cart items */
.cart-items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(0, 1fr);
  grid-gap: 10px;
}

/* Styles for each individual cart item */
.cart-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 8px;
}

/* Styles for the information of each cart item */
.item-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styles for the name of the item */
.item-name {
  font-weight: bold;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

/* Styles for the price of the item */
.item-price {
  margin-top: 10px;
  margin-left: 10px;
}

/* Styles for the image of the cart item */
.cart-item-image {
  width: 100px;
  height: 100px;
  border-radius: 6px;
  object-fit: cover;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Styles for the quantity controls */
.quantity-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

/* Styles for the quantity buttons */
.quantity-btn {
  background-color: #e34234; 
  color: white;
  border: none;
  padding: 5px 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 6px;
  margin: 0 4px;
}

.quantity-btn:hover {
  background-color: #cc2a1f;
}

/* Styles for the remove item and close cart buttons */
.remove-item,
.close-cart {
  background-color: #e34234; 
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 6px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove-item:hover,
.close-cart:hover {
  background-color: #cc2a1f;
}

/* Styles for the cart total section */
.cart-total {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Styles for the checkout button */
.checkout-button {
  background-color: #e34234; 
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 6px;
}

.checkout-button:hover {
  background-color: #45a049;
}

/* Styles for the continue shopping button */
.continue-shopping-button {
  background-color: #e34234;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 6px;
  margin-right: 10px;
}

.continue-shopping-button:hover {
  background-color: #cc2a1f;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .cart-items {
    grid-template-columns: 1fr;
  }
}
