/* Loader.css */

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto; 
  max-height: 80vh;
  margin-top: 10px; 
}

.loader {
  border: 8px solid #e34234;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: buffering 1.5s ease-in-out infinite;
}

@keyframes buffering {
  0%, 100% { border-color: #f3f3f3; }
  50% { border-color: #e34234; }
}
